# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
tfm_ven/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
data/
*.db
*.sqlite

# Large files
*.csv
*.parquet
*.pkl
*.xls
*.xlsx

# Logs
*.log

# Other
models/
*.doc
*.docx
*.ppt
*.pptx
